<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:insert="~{fragments :: footer}"></div>
<form th:action="${isNew} ? '/admin/create' : ${'/admin/update?id=' + user.id}" method="post">
    <div>
        <label for="name">
            Name
            <input id="name" type="text" name="name" th:value="${isNew} ? '': ${user.name}" th:disabled="${!isAdmin}">
        </label>
    </div>
    <div>
        <label for="password">
            Password
            <input id="password" type="password" name="password" th:value="${isNew} ? '': ${user.password}" th:disabled="${!isAdmin}">
        </label>
    </div>
    <div>
        <label for="email">
            E-mail
            <input id="email" type="email" name="email" th:value="${isNew} ? '': ${user.email}" th:disabled="${!isAdmin}">
        </label>
    </div>
    <h3>Roles</h3>
    <div th:each="role : ${roles}">
        <input th:id="${role}" type="checkbox" name="roles" th:value="${role}" th:checked="${isNew} ? false : ${roleNames.contains(role)}" th:disabled="${!isAdmin}">
        <label th:for="${role}" th:text="${role}">Role name</label>
    </div>
    <button type="submit" th:if="${isAdmin}" th:text="${isNew} ? 'Create': 'Update'">Caption</button>
</form>
<form th:if="${!isNew && isAdmin}" th:action="@{/admin/delete(id=${user.id})}" method="post">
    <button type="submit">Delete</button>
</form>
</body>
</html>